<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
  </head>

  <body>
    <div class="header">
      <img src="./static/images/ida-logo1.png" alt="" class="logo">
      <h1>Ida Design is Cool</h1>
      <p class="subtitle"> ~ creative patterns for kids ~ </p>
    </div>

    <h2> Products </h2>
    <div class="gallery">
        <div class="item-gallery">
          <img src="" alt="">
          <p>design for labeles</p>
        </div>
        <div class="item-gallery">
          
          <img src="" alt="">
          <p>design for books</p>
        </div>
        <div class="item-gallery">
          <img src="" alt="">
          <img src="" alt="">
          <p>design for toys</p>
        </div>
        <div class="item-gallery">
          <img src="" alt="">
          <img src="" alt="">
          <p>design for school staff</p>
        </div>
    </div>

    <p> Bringing imagination to life with patterns, styles, and toys for kids!</p> 
   
    <ul> <!-- changed to list in the tutorial -->
      <li>books</li>
      <li>toys</li>
      <li>clothes</li>
    </ul>

    <p>Inspired by kids, created with love – discover Ida Design.</p>

    <a href= "{{ url_for('gallery') }}" class="button"> click here </a>
      
  
  
    </body>
</html>