h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;  /* Added margin reset for h1 */
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #A2D8D1;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #b9ace1;
    padding: 0 40px 20px 40px;
    border: 5px solid hsl(233, 48%, 59%);
}

/* Additional CSS for header, logo and subtitle */
.header {
    text-align: center;
    margin-bottom: 20px;  /* Space between header and rest of the content */
}

.logo {
    width: 50px;  /* Adjust the size of the logo */
    vertical-align: middle;
}

.subtitle {
    font-size: 16px;
    color: #555;  /* Adjust color as needed */
    margin-top: 10px;  /* Space between title and subtitle */
}

.item-gallery {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: #decd90;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }